* {
	margin: 0;
	font-size: 12px;
	line-height: 1.8em;
}

//=============================================

#warp {
	width: 960px;
}

#sidebar {
	width: 270px;
	height: 500px;
	position: fixed;
	top: 50px;
	left: 0;
}

#blog_title {
	width: 150px;
	height: 80px;
	margin-bottom: 20px;
	background-color:#327A16;
	box-shadow: 10px 10px 5px #888888;
}

#blog_title a {
    width: 95px;
	height: 45px;
	padding: 15px 20px 20px 35px;
    color: #fff;
    display:inline-block;
    text-decoration:none;
    font-size: 26px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
    
#blog_title a:hover {
    background-color:#E2B215;
    color:rgba(0,0,0,0.65);
}

#blog_description {
	width: 230px;
	height: 80px;
	padding: 10px 0 0 20px;
	color: #fff;
	background-color:#251;
	font-size: 20px;
}



#content {
	width: 700px;
	position: relative;
	margin-left: 350px;
	margin-top: 60px;
	margin-bottom: 25px;
}